body{
  background-color: #FEFAE0;
  font-family: 'Roboto', sans-serif;;

}

nav{
  background-color: #606C38;
}

.hero-image {
  height: 225px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("Assets/concert.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  
}

.hero-text{
 color: #FEFAE0;
 text-align: center;
 padding-top: 110px;

}
.date{
  color: white;
}
/* label color */
.input-field label {
  color: black;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: black;
}
.input-field input[type=date]:focus + label {
  color: black;
}
 /* label underline focus color */
 .input-field input[type=text]:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}
 /* label underline focus color */
 .input-field input[type=date]:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

 /* icon prefix focus color */
 .input-field .prefix.active {
  color: black;
}

.brand-logo {
  font-family: 'Shadows Into Light', cursive;;
}
#searchBtn{
  color: white ;
}

.input-field {
  color: white;
}


.flex-container {
  width: 100%;
  display: flex;
  border-radius: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-child {
  flex:1;
  display: none;
  width: 80%;
  min-width: 400px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}  
/* Event Detail Cards */
.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.card-image {
  max-width: 400px ;
  text-align: center;
  justify-content: center;
}

#cardMap{
  text-align: center;
  justify-content: center;
}
#map {
  flex: auto;
  flex-direction: row;
  width: 250px;
  object-fit: cover;
  margin: auto;
}
.date {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  color: #2A9D8F;
}

.event-image {
  border-radius: 10px;
  border: 3px white; 
}
.event-name {
  font-size:2rem;
  line-height: 1.1;
  text-align: center;
}

.event-name::after {
  content: "";
  display: block;
  height: 1px;
  width: 2em;
  background-color: black;
  margin: 0.8em auto 0.5em;
}

.info {
  margin: 0;
  letter-spacing: 1.5px;
  color: darkgray;
}

.location {
  font-size: 20px;
  color: darkgray;
  text-align: center;
} 

.eventImage img {
  flex-basis: 300px;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.searchBtn {
  justify-content: center;
}